<Config>
  <Implementors>
    <Implementor Name="EMC" Available="false" FileName="EMCImplement.dll" Class="Implementor.EMCFactory" />
    <Implementor Name="EMCHSM" Available="false" FileName="HMCImplement.dll" Class="Implementor.HMCFactory" />
    <Implementor Name="EPF" Available="false" FileName="EPFImplement.dll" Class="Implementor.EPFFactory" />
  </Implementors>
  <MultiLineLog Flag="false"></MultiLineLog>
  <AutoMapping Available="True">
    <Mapping File="SP2013DocumentumMigrationRestore" Implementor="EMC" />
    <Mapping File="SP2013DocumentumMigrationAzureRestore" Implementor="EMCHSM" />
    <Mapping File="SP2013PublicFolderMigrationRestore" Implementor="EPF" />
  </AutoMapping>
</Config>